@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Cairo", "Poppins", sans-serif !important;
}

:root {
  /* Light Theme */
  --primary-100: #401504; /* اللون الرئيسي من اللوجو */
  --primary-200: #66331e; /* درجة أفتح شوي */
  --primary-300: #8c4a2e; /* درجة أفتح كمان */

  --accent-100: #401504; /* ممكن نستخدم نفس اللون الرئيسي كلون accent */
  --accent-200: #66331e;

  --text-100: #401504; /* لون النص الرئيسي */
  --text-200: #52554e; /* لون السلوجن أو نص ثانوي */

  --bg-100: #f9f5e9; /* لون الخلفية الرئيسي */
  --bg-200: #eee6d1; /* درجة أغمق بسيطة */
  --bg-300: #e0d3b6; /* درجة أغمق كمان */
  --bg-100-50: #f9f5e988; /* نفس الخلفية لكن شفافة شوي */

  --shadow-100: rgba(0, 0, 0, 0.1);
  --shadow-200: rgba(0, 0, 0, 0.2);
  --shadow-accent-100: #40150466; /* ظل بنفس لون اللوجو */
  --shadow-accent-200: #66331e4d;
}

[data-theme="dark"] {
  /* Dark Theme */
  --primary-100: #f8e1c2;
  --primary-200: #d8ba8e;
  --primary-300: #b79a6b;

  --accent-100: #f8e1c2;
  --accent-200: #d8ba8e;

  --text-100: #f8e1c2;
  --text-200: #e0d3b6;

  --bg-100: #5c4f36; /* أغمق بشكل واضح */
  --bg-200: #4b412f; /* أغمق أكتر */
  --bg-300: #3c3427; /* أغمق زيادة */
  --bg-100-50: #5c4f3688; /* نفس bg-100 لكن شفافة */

  --shadow-100: rgba(0, 0, 0, 0.2);
  --shadow-200: rgba(0, 0, 0, 0.3);
  --shadow-accent-100: #f8e1c266;
  --shadow-accent-200: #d8ba8e4d;
}
