@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Cairo", "Poppins", sans-serif !important;
}

:root {
  /* Light Theme */
  --primary-100: #ffffff;
  --primary-200: #f0f0f0;
  --primary-300: #dcdcdc;

  --accent-100: #00a8a8;
  --accent-200: #007b7b;

  --text-100: #000000;
  --text-200: #333333;

  --bg-100: #ffffff;
  --bg-200: #e3f6f5;
  --bg-300: #bae8e8;

  --shadow-100: rgba(0, 0, 0, 0.1);
  --shadow-200: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  /* Dark Theme */
  --primary-100: #000000;
  --primary-200: #1a1a1a;
  --primary-300: #333333;

  --accent-100: #5ffaf5;
  --accent-200: #2cd4d4;

  --text-100: #ffffff;
  --text-200: #cccccc;

  --bg-100: #000000;
  --bg-200: #1a1a1a;
  --bg-300: #2a2a2a;

  --shadow-100: rgba(255, 255, 255, 0.1);
  --shadow-200: rgba(255, 255, 255, 0.2);
}

body[lang="ar"] {
  font-family: "Cairo", sans-serif !important;
  .start-0 {
    right: 0 !important;
    left: auto !important;
  }
  .end-0 {
    left: 0 !important;
    right: auto !important;
  }
}

body[lang="en"] {
  font-family: "Poppins", sans-serif !important;
}
