@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Cairo", "Poppins", sans-serif !important;
}

:root {
  /* Light Theme */
  --primary-100: #ffffff;
  --primary-200: #f0f0f0;
  --primary-300: #dcdcdc;

  --accent-100: #00a8a8;
  --accent-200: #007b7b;

  --text-100: #000000;
  --text-200: #333333;

  --bg-100: #ffffff;
  --bg-200: #e3f6f5;
  --bg-300: #bae8e8;
  --bg-100-50: #ffffff88;

  --shadow-100: #0000001a;
  --shadow-200: #00000033;
  --shadow-accent-100: #00a8a866;
  --shadow-accent-200: #007b7b4d;
}

[data-theme="dark"] {
  /* Dark Theme */
  --primary-100: #000000;
  --primary-200: #1a1a1a;
  --primary-300: #333333;

  --accent-100: #5ffaf5;
  --accent-200: #2cd4d4;

  --text-100: #ffffff;
  --text-200: #cccccc;

  --bg-100: #000000;
  --bg-200: #1a1a1a;
  --bg-300: #2a2a2a;
  --bg-100-50: #00000088;

  --shadow-100: rgba(255, 255, 255, 0.1);
  --shadow-200: rgba(255, 255, 255, 0.2);
  --shadow-accent-100: #5ffaf566;
  --shadow-accent-200: #2cd4d44d;
}

body[lang="ar"] {
  font-family: "Cairo", sans-serif !important;
  .start-0 {
    right: 0 !important;
    left: auto !important;
  }
  .end-0 {
    left: 0 !important;
    right: auto !important;

  }
  --start: -1em;
  --end: auto;
}

body[lang="en"] {
  font-family: "Poppins", sans-serif !important;

  .start-0 {
    left: 0 !important;
    right: auto !important;
  }

  .end-0 {
    right: 0 !important;
    left: auto !important;
  }

  --start: auto;
  --end: -1em;

}


.container {
  max-width: 1400px !important;
  margin: 0 auto;
  padding: 0 20px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 800px !important;
  }
} 

@media (max-width: 768px) {
  .container {
    max-width: 100% !important;
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

